body
{
	background-color: #000;
	color: #fff;
	font-family: Arial,"微軟正黑體","PMingLiU","Microsoft JhengHei","Heiti TC","WenQuanYi Zen Hei";
}
article
{
	padding: 3px;
}
h1,h2
{
	padding: 20px 0px;
	font-size: 26px;
}
h2
{
	font-size: 24px;
}
h3
{
	padding: 5px 0;
	font-size: 20px;
	font-weight: bold;
}
/* 基本資料 */
.accTab
{
	width: 100%;
	font-size: 18px;
	background-color: #303030;
	text-align: center;
	margin-bottom: 20px;   			
}
.accTab td 
{
	vertical-align: middle;
}
.accTab > tbody > tr > td
{
	padding: 10px 5px;
	padding-top: 10px;
	padding-left: 7px;
}
.accTab span:after
{
	content: "：";
}
.accTab .sumNegTot, .accTab .sumNegTot:after
{
	color: #FE0000;
	content: unset;
}
.accTab .sumAddTot, .accTab .sumAddTot:after
{
	color: #24FF00;
	content: unset;
}
.accBor
{
	border-bottom: 1px solid #fff;
}
.accTab p
{
	border-right: 1px solid #fff;
	padding-right: 3px;
}
.accTab .nbor
{
	border: 0;
}
/* 基本資料 End */
.topCount
{
	text-align: center;
	padding: 7px 0 5px;
	border-bottom: 1px solid #fff;
}
.container
{
	overflow-y : auto;
	padding: 10px 0 5px;
}
.container > table
{
	width: 100%;
}
.BGDiv
{
	background-color: #303030;
	margin-bottom: 20px;
}
.ImgDiv
{
	max-width: 540px;
	margin: auto;
}
.padH
{
	vertical-align: middle;
	width: 100%;
	text-align: center;
	font-size: 18px;
}
.padH2
{
	text-align: center;
	font-size: 18px;
	display: none;
}
.padH2 .betB, .padH2 .wlB
{
	display: inline-block;
	width: 49%;
}
.betB
{
	padding-bottom: 20px;
}
.wlB span
{
	color: #FE0000;
}
.betB p, .wlB p
{
	padding: 5px 0;
}
.betB h3, .betB span
{
	color: gold;
}
.wlB h3, .wlB .colGreen
{
	color: #24FF00;
}
/* 基本資料 End */
/* 牌桌 */
.Tab, .DetailTab
{
	margin-top: -3px;
	position: relative;
	width: 540px;
}
/* 文字區塊 */
.Tab .tabText
{
	font-size: 13px;
	right: 0;
	top: 15px;
	position: absolute;
	background-color: #000;
	width: 165px;
	height: 75px;
	z-index: 1;
	padding: 5px 0px 1px 6px;
	color: #fff;
}
.Tab .tabText p
{
	line-height: 1.5em;
}
.Tab .tabText span
{
	color: red;
}
.Tab .tabText div
{
	position: absolute;
	left: 116px;
	top: 8px;
}
.Tab .tabText .col-gold
{
	color: #e3c557;
}
/* 文字區塊 End */
/* 光暈區域 */
.Tab .area
{
	-moz-box-shadow: 0px 0px 3px 2px #ffeb3b96;
	-webkit-box-shadow: 0px 0px 3px 2px #ffeb3b96;
	box-shadow: 0px 0px 3px 2px #ffeb3b96;
	background: #e3c5574d;
	position: absolute;
	z-index: 1;
}
.Tab .Light1, .Tab .Light5
{
	width: 98px;
	height: 132px;
	bottom: 44px;
}
.Tab .Light2, .Tab .Light4
{
	width: 56px;
	height: 86px;
	bottom: 41px;
}
.Tab .Light1
{
	-moz-transform: perspective(8.5em) rotate(26deg) rotateX(12deg);
	-webkit-transform: perspective(8.5em) rotate(26deg) rotateX(12deg);
	-o-transform: perspective(8.5em) rotate(26deg) rotateX(12deg);
	-ms-transform: perspective(8.5em) rotate(26deg) rotateX(12deg);
	transform: perspective(8.5em) rotate(26deg) rotateX(12deg);
	left: 52px;
}
.Tab .Light2
{
	-moz-transform: perspective(8.5em) rotate(14deg) rotateX(18deg);
	-webkit-transform: perspective(8.5em) rotate(14deg) rotateX(18deg);
	-o-transform: perspective(8.5em) rotate(14deg) rotateX(18deg);
	-ms-transform: perspective(8.5em) rotate(14deg) rotateX(18deg);
	transform: perspective(8.5em) rotate(14deg) rotateX(18deg);
	left: 160px;
}
.Tab .Light3
{
	-moz-transform: perspective(8.5em) rotateX(16deg);
	-webkit-transform: perspective(8.5em) rotateX(16deg);
	-o-transform: perspective(8.5em) rotateX(16deg);
	-ms-transform: perspective(8.5em) rotateX(16deg);
	transform: perspective(8.5em) rotateX(16deg);
	width: 70px;
	height: 104px;
	bottom: 22px;
	left: 235px;
}
.Tab .Light4
{
	-moz-transform: perspective(8.5em) rotate(-14deg) rotateX(18deg);
	-webkit-transform: perspective(8.5em) rotate(-14deg) rotateX(18deg);
	-o-transform: perspective(8.5em) rotate(-14deg) rotateX(18deg);
	-ms-transform: perspective(8.5em) rotate(-14deg) rotateX(18deg);
	transform: perspective(8.5em) rotate(-14deg) rotateX(18deg);
	right: 160px;
}
.Tab .Light5
{
	-moz-transform: perspective(8.5em) rotate(-26deg) rotateX(11deg);
	-webkit-transform: perspective(8.5em) rotate(-26deg) rotateX(11deg);
	-o-transform: perspective(8.5em) rotate(-26deg) rotateX(11deg);
	-ms-transform: perspective(8.5em) rotate(-26deg) rotateX(11deg);
	transform: perspective(8.5em) rotate(-26deg) rotateX(11deg);
	right: 51px;
}
/* 光暈區域 End */
/* 撲克牌 */
.Tab .tabLCar1, .Tab .tabLCar2, .Tab .tabLCar3, .Tab .tabRCar1, .Tab .tabRCar2, .Tab .tabRCar3
{
	position: absolute;
	z-index: 1;
	width: 30px;
}
.Tab .tabLCar1, .Tab .tabRCar1
{
	top: 169px;
}
.Tab .tabLCar2, .Tab .tabLCar3, .Tab .tabRCar2, .Tab .tabRCar3
{
	bottom: 145px;
}
.Tab .tabLCar1
{
	left: 190px;
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.Tab .tabLCar2
{
	left: 169px;
}
.Tab .tabLCar3
{
	left: 212px;
}
.Tab .tabRCar1
{
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	right: 190px;
}
.Tab .tabRCar2
{
	right: 211px;
}
.Tab .tabRCar3
{
	right: 168px;
}
/* 撲克牌 End */
/* 總下注 */
.Tab .Tot1, .Tab .Tot2, .Tab .Tot3, .Tab .Tot4, .Tab .Tot5
{
	position: absolute;
	z-index: 1;
	color: #fff;
}
.Tab .Tot1, .Tab .Tot5
{
	bottom: 147px;
}
.Tab .Tot2, .Tab .Tot4
{
	bottom: 102px;
}
.Tab .Tot1
{
	-moz-transform: rotate(26deg);
	-webkit-transform: rotate(26deg);
	-o-transform: rotate(26deg);
	-ms-transform: rotate(26deg);
	transform: rotate(26deg);
}
.Tab .Tot2
{
	-moz-transform: rotate(14deg);
	-webkit-transform: rotate(14deg);
	-o-transform: rotate(14deg);
	-ms-transform: rotate(14deg);
	transform: rotate(14deg);
}
.Tab .Tot3
{
	bottom: 103px;
}
.Tab .Tot4
{
	-moz-transform: rotate(-14deg);
	-webkit-transform: rotate(-14deg);
	-o-transform: rotate(-14deg);
	-ms-transform: rotate(-14deg);
	transform: rotate(-14deg);
}
.Tab .Tot5
{
	-moz-transform: rotate(-26deg);
	-webkit-transform: rotate(-26deg);
	-o-transform: rotate(-26deg);
	-ms-transform: rotate(-26deg);
	transform: rotate(-26deg);
}
/* 個位數 */
.Tab .len1Tot1
{
	left: 117px;
}
.Tab .len1Tot2
{
	left: 191px;
}
.Tab .len1Tot3
{
	left: 265px;
}
.Tab .len1Tot4
{
	right: 191px;
}
.Tab .len1Tot5
{
	right: 117px;
}
/* 個位數 End */
/* 十位數 */
.Tab .len2Tot1
{
	left: 112px;
}
.Tab .len2Tot2
{
	left: 186px;
}
.Tab .len2Tot3
{
	left: 260px;
}
.Tab .len2Tot4
{
	right: 186px;
}
.Tab .len2Tot5
{
	right: 112px;
}
/* 十位數 End */
/* 百位數 */
.Tab .len3Tot1
{
	left: 109px;
}
.Tab .len3Tot2
{
	left: 181px;
}
.Tab .len3Tot3
{
	left: 257px;
}
.Tab .len3Tot4
{
	right: 181px;
}
.Tab .len3Tot5
{
	right: 109px;
}
/* 百位數 End */
/* 千位數 */
.Tab .len4Tot1
{
	left: 105px;
}
.Tab .len4Tot2
{
	left: 177px;
}
.Tab .len4Tot3
{
	left: 252px;
}
.Tab .len4Tot4
{
	right: 177px;
}
.Tab .len4Tot5
{
	right: 105px;
}
/* 千位數 End */
/* 五位數 */
.Tab .len5Tot1
{
	left: 101px;
}
.Tab .len5Tot2
{
	left: 172px;
}
.Tab .len5Tot3
{
	left: 247px;
}
.Tab .len5Tot4
{
	right: 173px;
}
.Tab .len5Tot5
{
	right: 101px;
}
/* 五位數 End */
/* 六位數 */
.Tab .len6Tot1
{
	left: 97px;
}
.Tab .len6Tot2
{
	left: 167px;
}
.Tab .len6Tot3
{
	left: 243px;
}
.Tab .len6Tot4
{
	right: 169px;
}
.Tab .len6Tot5
{
	right: 97px;
}
/* 六位數 End */
/* 總下注 End */
/* 押注 */
.Tab .bet1, .Tab .bet2, .Tab .bet3, .Tab .bet4, .Tab .bet5
{
	position: absolute;
	z-index: 1;
	color: #e3c557;
}
.Tab .bet1, .Tab .bet5
{
	bottom: 47px;
}
.Tab .bet2, .Tab .bet4
{
	bottom: 40px;
}
.Tab .bet1
{
	-moz-transform: rotate(26deg);
	-webkit-transform: rotate(26deg);
	-o-transform: rotate(26deg);
	-ms-transform: rotate(26deg);
	transform: rotate(26deg);
}
.Tab .bet2
{
	-moz-transform: rotate(15deg);
	-webkit-transform: rotate(15deg);
	-o-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	transform: rotate(15deg);
}		
.Tab .bet3
{
	bottom: 17px;
}
.Tab .bet4
{
	-moz-transform: rotate(-15deg);
	-webkit-transform: rotate(-15deg);
	-o-transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
	transform: rotate(-15deg);
}
.Tab .bet5
{
	-moz-transform: rotate(-26deg);
	-webkit-transform: rotate(-26deg);
	-o-transform: rotate(-26deg);
	-ms-transform: rotate(-26deg);
	transform: rotate(-26deg);
}
/* 押注個位數 */
.Tab .len1Bet1
{
	left: 73px;
}
.Tab .len1Bet2
{
	left: 174px;
}
.Tab .len1Bet3
{
	left: 267px;
}
.Tab .len1Bet4
{
	right: 174px;
}
.Tab .len1Bet5
{
	right: 73px;
}
/* 押注個位數 End */
/* 押注十位數 */
.Tab .len2Bet1
{
	left: 68px;
}
.Tab .len2Bet2
{
	left: 169px;
}
.Tab .len2Bet3
{
	left: 262px;
}
.Tab .len2Bet4
{
	right: 169px;
}
.Tab .len2Bet5
{
	right: 68px;
}
/* 押注十位數 End */
/* 押注百位數 */
.Tab .len3Bet1
{
	left: 61px;
}
.Tab .len3Bet2
{
	left: 165px;
}
.Tab .len3Bet3
{
	left: 258px;
}
.Tab .len3Bet4
{
	right: 165px;
}
.Tab .len3Bet5
{
	right: 61px;
}
/* 押注百位數 End */
/* 押注 End */
/* 牌桌 End */
/* 牌桌放大 */
.DetailTab .PlayS, .DetailTab .BankS
{
	position: absolute;
	font-size: 40px;
	font-weight: bold;
	-webkit-text-stroke: 2px #000;
	top: 25px;
}
.DetailTab .PlayS
{
	color: #3b6dff;
	left: 60px;
}
.DetailTab .BankS
{
	color: #de1816;
	right: 58px;
}
.DetailTab .Win, .DetailTab .Win2, .DetailTab .WinPair, .DetailTab .WinPair2
{
	position: absolute;
	z-index: 2;
}
.DetailTab .Win
{
	top: 3px;
	left: 200px;
}
.DetailTab .Win2
{
	top: 3px;
	left: 247px;
}
.DetailTab .WinPair
{
	top: 66px;
	left: 237px;
}
.DetailTab .WinPair2
{
	top: 120px;
	left: 237px;
}
.DetailTab .tabLCar1, .DetailTab .tabLCar2, .DetailTab .tabLCar3, .DetailTab .tabRCar1, .DetailTab .tabRCar2, .DetailTab .tabRCar3
{
	position: absolute;
	z-index: 1;
}
.DetailTab .tabLCar1, .DetailTab .tabRCar1
{
	top: 75px;
}
.DetailTab .tabLCar2, .DetailTab .tabLCar3, .DetailTab .tabRCar2, .DetailTab .tabRCar3
{
	bottom: 35px;
}
.DetailTab .tabLCar1
{
	left: 155px;
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}		
.DetailTab .tabLCar2
{
	left: 111px;
}
.DetailTab .tabLCar3
{
	left: 198px;
}
.DetailTab .tabRCar1
{
	right: 127px;
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.DetailTab .tabRCar2
{
	right: 170px;
}
.DetailTab .tabRCar3
{
	right: 83px;
}
/* 牌桌放大 End */
/* 路 */
.divRoad
{
	padding: 0 10px;
}
.divRoad > p
{
	border-top: 1px solid #fff;
	font-size: 20px;
	font-weight: bold;
	padding: 7px 0 10px;
	text-align: center;
}
.divRoad > p >span
{
	display: inline-block;
	padding-right: 20px;
}
.divRoad .col-red
{
	color: red;
}
.divRoad .col-blue
{
	color: #3b6dff;
}
.divRoad tbody tr td
{
	position: relative;
	background-color: #fff;
	border: 1px solid #9E9E9E;
	width: 17px;
	height: 17px;
	line-height: 0em;
	vertical-align: middle;
	text-align: center;
}
.divRoad tbody tr td span
{
	position: absolute;
	left: 5px;
	top: 8px;
	font-size: 10px;
	color: #000;			
}
.divRoad tbody tr td .twoCount
{
	left: 2px;
}
.divRoad tbody tr img
{
	width: 15px;
	height: 16px;
}
.divRoad .Roadtab1, .divRoad .Roadtab2
{
	overflow-y: auto;
	margin-top: -3px;
}
.divRoad .Roadtab1 table, .divRoad .Roadtab2 table
{
	display: inline-block;
	margin-right: -5px;
}		
.divRoad .Roadtab2 img
{
	width: 8px;
	height: 8px;
}
.divRoad .Roadtab2 td
{
	width: 10px;
	height: 10px;
	line-height: 0em;
}
/* 路 End */
/* 分頁 */
.page_txt
{
	text-align: center;
	margin-bottom: 20px;
	line-height: 1.5em;
	width: 100%;
}
.page
{
	width: 100%;
	text-align: center;
	margin-bottom: 25px;
}
.page li
{
	background-color: #000;
	display: inline;
	padding: 10px 10px;
	border-radius: 10px;
	margin: 0 5px;
}
.page .num
{
	border-radius: 50%;
	padding: 10px 15px;
}
.page .no
{
	color: #c5bbbb;
}
.page a
{
	text-decoration: none;
	color: #fff;
}
/* 分頁 End */
@media screen and (max-width: 750px)
{
	.page .num, .dot
	{
		display: none;
	}
}
@media screen and (max-width: 730px)
{
	.padH
	{
		display: none;
	}
	.padH2
	{
		display: block;
	}
}
@media screen and (max-width: 550px)
{
	.accTab span
	{
		display: block;
		padding: 5px 0;
	}
	.accTab span:after
	{
		content: "";
	}
}
@media screen and (max-width: 440px)
{
	.accTab span
	{
		display: block;
		padding: 5px 0;
	}		
}
@media screen and (max-width: 340px)
{
	.page li
	{
		margin: 0 2px;
	}			
}