/* ALL */
body
{
	background-color: #252727;
	color: #ffffff;
	font-family: Arial,"微軟正黑體","PMingLiU","Microsoft JhengHei","Heiti TC","WenQuanYi Zen Hei";
}
article
{
	padding: 10px;
}
h1,h2
{
	padding: 20px 0px;
	font-size: 26px;
}
h2
{
	font-size: 24px;
}
table
{
	width: 100%;
	font-size: 18px;
	background-color: #303030;
	text-align: center;
	margin-bottom: 20px;
}
table td 
{
	vertical-align: middle;
}
/* ALL END */
/* basic info */
.accTab > tbody > tr > td
{
	padding: 10px 5px;
	padding-top: 10px;
	padding-left: 7px;
}
.accTab span:after
{
	content: "：";
}
.accTab .sumNegTot, .accTab .sumNegTot:after
{
	color: #FE0000;
	content: unset;
}
.accTab .sumAddTot, .accTab .sumAddTot:after
{
	color: #24FF00;
	content: unset;
}
.accBor
{
	border-bottom: 1px solid #fff;
}
.accTab p
{
	border-right: 1px solid #fff;
	padding-right: 3px;
}
.accTab .nbor
{
	border: 0;
}
.bgColor
{
	background-color: #303030;
}
.topRound
{
	text-align: center;
	padding-top: 5px;
}
.topCount
{
	text-align: center;
	padding: 7px 0 5px;
	border-bottom: 1px solid #fff;
}
/* basic info END */
/* page */
.page_txt
{
	text-align: center;
	margin-bottom: 20px;
	line-height: 1.5em;
	width: 100%;
}
.page
{
	width: 100%;
	text-align: center;
	margin-bottom: 25px;
}
.page li
{
	background-color: #000;
	display: inline;
	padding: 10px 10px;
	border-radius: 10px;
	margin: 0 5px;
}
.page .num
{
	border-radius: 50%;
	padding: 10px 15px;
}
.page .no
{
	color: #c5bbbb;
}
.page a
{
	text-decoration: none;
	color: #fff;
}
@media screen and (max-width: 750px)
{
	.page .num, .dot
	{
		display: none;
	}
}
@media screen and (max-width: 340px)
{
	.page li
	{
		margin: 0 2px;
	}			
}
/* page END */
/* content */
.imgDiv
{
	overflow-y: auto;
}
.relImg
{
	width: 50%;
}
.container
{
	padding-bottom: 10px;
	margin-bottom: 15px;
}
.gameTab
{
	margin-top: 10px;
	margin-bottom: 0;
}
.floatDiv
{
	margin-left: 0px;
	width: 980px;
	margin: auto;
	position: relative;
}
.imgBG
{
	display: block;
	margin: auto;
}
.nowNum
{
	position: absolute;
	bottom: 19px;
	left: 21px;
	width: 245px;
	color: #ffbe23;
}
/* imgMaxMin */
.BetMax, .BetMin
{
	position: absolute;
	left: 278px;	
	color: #e8c05d;
	font-size: 27px;
	font-weight: bold;
	-webkit-text-stroke: 1px #1f6383;
	text-align: center;
	letter-spacing: 6px;
	width: 65px;
}
.BetMax
{
	top: 66px;
}
.BetMin
{
	top: 99px;
}
/* card */
.area1, .area2, .area3, .area4, .area5
{
	position: absolute;
}
.area1 div, .area2 div, .area3 div, .area4 div, .area5 div
{
	position: relative;
}
.area2, .area3, .area4, .area5
{
	top: 332px;
}
.area1
{
	left: 424px;
	top: 30px;
}
.area2
{
	left: 69px;
}
.area3
{
	left: 307px;
}
.area4
{
	right: 259px;
}
.area5
{
	right: 21px;
}
.area1 img
{
	margin-left: -44px;
}
.area2 img, .area3 img, .area4 img, .area5 img
{
	margin-left: -46px;
}
/* 牌型 */
.type
{
	position: absolute;
	top: 7px;
	left: 11px;
}
/* 牌型 END */
/* win/lose、總下注、玩家下注額、玩家輸贏額 */
.areaNum2, .areaNum3, .areaNum4, .areaNum5
{
	position: absolute;
	z-index: 1;
}
/* 總下注 */
.areaNum2 div, .areaNum3 div, .areaNum4 div, .areaNum5 div
{
	position: relative;
}
.totBet2, .totBet3, .totBet4, .totBet5
{
	position: absolute;
	width: 208px;
	font-size: 28px;
	text-align: center;
	font-weight: bold;
	color: #f578ff;
	-webkit-text-stroke: 1px #340136;
	
}
.totBet2
{
	left: -30px;
}
.totBet3
{
	left: -29px;
}
.totBet4
{
	left: -32px;
}
.totBet5
{
	left: -31px;
}
.ww .totBet
{
	top: -22px;
}
.ll .totBet
{
	top: -53px;
}
/* 總下注 END */
/* 籌碼 */
.areaNum2 .chip, .areaNum3 .chip, .areaNum4 .chip,  .areaNum5 .chip
{
	position: absolute;
	z-index: 1;
}
.ww .chip
{
	top: 21px;
}
.ll .chip
{
	top: -13px;
}
/* 籌碼 END */
/* win/lose */
.areaNum2.ww, .areaNum3.ww, .areaNum4.ww, .areaNum5.ww
{
	top: 180px;
}
.areaNum2.ll, .areaNum3.ll, .areaNum4.ll, .areaNum5.ll
{
	top: 212px;
}
.areaNum2
{
	left: 57px;
}
.areaNum3
{
	left: 295px;
}
.areaNum4
{
	right: 445px;
}
.areaNum5
{
	right: 207px;
}
.areaNum2 img, .areaNum3 img, .areaNum4 img, .areaNum5 img
{
	position: absolute;
	width: 150px;
	z-index: 3;
}
/* win/lose END */
/* 玩家下注額 */
.bet2, .bet3, .bet4, .bet5
{
	position: absolute;
	width: 208px;
	font-size: 28px;
	text-align: center;
	font-weight: bold;
	color: #fed45d;
	-webkit-text-stroke: 1px #363b1f;
}
.bet2
{
	left: -30px;
}
.bet3
{
	left: -29px;
}
.bet4
{
	left: -32px;
}
.bet5
{
	left: -31px;
}
.ww .bet
{
	top: 123px;
}
.ll .bet
{
	top: 90px;
}
/* 玩家下注額 END */
/* 玩家輸贏額 */
.wl2, .wl3, .wl4, .wl5
{
	position: absolute;
	width: 208px;
	font-size: 40px;
	text-align: center;
	font-weight: bold;
	color: #FE0000;
	-webkit-text-stroke: 2px #000;
	z-index: 4;
}
.wl2.colGreen, .wl3.colGreen, .wl4.colGreen, .wl5.colGreen
{
	color: #24FF00;
}
.wl2
{
	left: -30px;
}
.wl3
{
	left: -29px;
}
.wl4
{
	left: -32px;
}
.wl5
{
	left: -31px;
}
.ww .wl
{
	top: 59px;
}
.ll .wl
{
	top: 41px;
}
/* 玩家輸贏額 END */
/* win/lose、總下注、玩家下注額、玩家輸贏額 END */
/* card END */
/*  imgContent END */
/* content Text */
.padS
{
	display: none;
	width: 100%;
	height: 168px;
	padding-top: 5px;
	margin: 0;
	margin-top: 10px;
	font-size: 18px;	
	border-top: 1px solid #fff;
}
.betB
{
	padding-bottom: 30px;
}
.betB p, .wlB p
{
	padding: 5px 0;
}
.betB span
{
	color: gold;
}
.wlB span
{
	color: #FE0000;
}
.wlB .colGreen
{
	color: #24FF00;
}
.padS > div
{
	width: 250px;
	margin: auto;
	    text-align: center;
}
.padS .betB, .padS .wlB
{
	display: inline-block;
	width: 49%;
}
/* content Text END */
/* content END */
@media screen and (max-width: 1240px)
{
	/* content */
	.container
	{
		padding: 0 5px 10px;
	}
	.relImg
	{
		width: 100%;
	}
	/* content END */
	/* content Text */
	.padH
	{
		display: none;
	}
	.padS
	{
		display: block;
	}
	/* content Text END */
}
@media screen and (max-width: 660px)
{
	/* All */
	article
	{
		padding: 5px;
	}
	/* All END */
	/* basic info */
	.container
	{
		padding: 0 5px 10px;
	}
	.relImg
	{
		width: 100%;
	}	
	/* basic info END */
	/* content */
	.floatDiv, .imgBG
	{
		width: 630px;
	}
	/* imgMaxMin */
	.BetMax, .BetMin
	{
		font-size: 20px;
		left: 170px;
	}
	.BetMax
	{
		top: 41px;
	}
	.BetMin
	{
		top: 63px;
	}
	.nowNum
	{
		bottom: 9px;
		left: 10px;
		width: 158px;
	}
	/* imgMaxMin END */
	/* 總下注 */
	.totBet2, .totBet3, .totBet4, .totBet5
	{
		font-size: 19px;
		width: 134px;
	}
	.ww .totBet
	{
		top: -15px;
	}
	.ll .totBet
	{
		top: -37px;
	}
	.totBet2
	{
		left: -24px;
	}
	.totBet3
	{
		left: -20px;
	}
	.totBet4
	{
		left: -22px;
	}
	.totBet5
	{
		left: -23px;
	}
	/* 總下注 END */
	/* card */	
	.area1 img, .area2 img, .area3 img, .area4 img, .area5 img
	{
		width: 50px;
	}
	.area2 img, .area3 img, .area4 img, .area5 img
	{
		    margin-left: -30px;
	}
	.area1 .type, .area2 .type, .area3 .type, .area4 .type, .area5 .type
	{
		width: 120px;
	}
	.area1
	{
		left: 276px;
		top: 19px;
	}
	.area1 img
	{
		margin-left: -31px;		
	}
	.area2, .area3, .area4, .area5
	{
		top: 215px;
	}
	.area2
	{
		left: 36px;
	}
	.area3
	{
		left: 193px;
	}
	.area4
	{
		right: 161px;
	}
	.area5
	{
		right: 4px;
	}
	/* card END */
	/* 籌碼 */
	.ww .chip
	{
		top: 15px;
	}
	.ll .chip
	{
		top: -9px;
	}
	/* 籌碼 END */
	/* win/lose */
	.areaNum2 img, .areaNum3 img, .areaNum4 img, .areaNum5 img
	{
		width: 90px;
	}
	.areaNum2.ww, .areaNum3.ww, .areaNum4.ww, .areaNum5.ww
	{
		top: 117px;
	}
	.areaNum2.ll, .areaNum3.ll, .areaNum4.ll, .areaNum5.ll
	{
		top: 140px;
	}
	.areaNum2
	{
		left: 37px;
	}
	.areaNum3
	{
		left: 189px;
	}
	.areaNum4
	{
		right: 283px;
	}
	.areaNum5
	{
		right: 125px;
	}
	/* win/lose END */
	/* 玩家輸贏額 */
	.wl2, .wl3, .wl4, .wl5
	{
		width: 135px;
		font-size: 26px;
	}
	.ww .wl
	{
		top: 40px;
	}
	.ll .wl
	{
		top: 20px;
	}
	.wl2
	{
		left: -24px;
	}
	.wl3
	{
		left: -21px;
	}
	.wl4
	{
		left: -22px;
	}
	.wl5
	{
		left: -24px;
	}
	/* 玩家輸贏額 END */
	/* 玩家下注額 */
	.bet2, .bet3, .bet4, .bet5
	{
		width: 135px;
		font-size: 21px;
	}
	.ww .bet
	{
		top: 75px;
	}
	.ll .bet
	{
		top: 53px;
	}
	.bet2
	{
		left: -24px;
	}
	.bet3
	{
		left: -21px;
	}
	.bet4
	{
		left: -22px;
	}
	.bet5
	{
		left: -24px;
	}
	/* 玩家下注額 END */
	/* content END */
}
@media screen and (max-width: 370px)
{
	.accBor > p
	{
		width: 238px;
	}
}