/* ALL */
.inx_body
{
	font-family: Arial,"微軟正黑體","PMingLiU","Microsoft JhengHei","Heiti TC","WenQuanYi Zen Hei";
	color: #fff;
}
input:focus
{
	outline: 0;
	background-color: #fff0;
}
.bright
{
	-webkit-filter: brightness(.5);
}
/* ALL END */
/* index */
.inx_art
{
	position: absolute;
	background: url("../img/hall/inx_bg.png") center center no-repeat;
	-moz-background-size: cover;
	background-size: cover;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
}
/* 系統文字 */
.inx_sys
{
	background: rgb(7,7,8); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(7,7,8,1) 0%, rgba(33,33,34,.5) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(7,7,8,1) 0%,rgba(33,33,34,.5) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(7,7,8,1) 0%,rgba(33,33,34,.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#070708', endColorstr='#212122',GradientType=0 ); /* IE6-9 */
	margin: auto;
	padding: 0 10px;
	position: fixed;
	width: 260px;
	height: 200px;
	border: 1px solid #ffba26;
	border-radius: 18px;
	border-color: #ffbe01 #f9e502;
	z-index: 10;
}
.inx_sys p
{
	color: #fff;
	text-align: center;
	font-size: 16px;
	padding-top: 30px;
	line-height: 1.5em;
}
.inx_sys .f1
{
	padding-top: 20px;
	font-size: 20px;
	font-weight: bold;
}
/* 系統文字 END */
/* header */
header
{
	position: relative;
	z-index: 5;
	width: 100%;
	height: 180px;
}
.frame-div, header > img, .frame-name-div, .point
{
	position: absolute;
	display: block;
}
.frame-div, .frame-back
{
	top: -7px;
}
.frame-div
{
	left: 0;
}
.frame-back
{		
	right: 0;
}
.frame-back-img
{
	position: absolute;
	top: 5px;
	right: 27px;
}
.frame-name-div
{
	top: 13px;
	left: 180px;
}	
.frame-circle, .frame-img
{
	position: absolute;
	top: 14px;
	left: 25px;
}	
.name
{
	font-size: 30px;
	font-weight: bold;
	-webkit-text-stroke: 1px #696c8c;
	padding-left: 10px;
	min-height: 30px;
	min-width: 1px;
}
.point
{
	font-size: 26px;
	font-weight: bold;
	top: 38px;
	right: 12px;
	width: 235px;
	-webkit-text-stroke: 1px #d07f00;
}
/* header END */
/* section */
.inx_sec
{
	display: block;
	padding: 0 10px;
}
.inx_sec div
{
	display: inline;
}
.inx_table
{
	width: 100%;
	max-width: 1084px;
	margin: auto;
	margin-bottom: 30px;
}
.inx_table a
{
	position: relative;
	display: block;
	width: 100%;
	max-width: 271px;
}
.inx_table img
{
	display: block;
	margin: auto;		
}
.inx_table .game
{
	width: 100%;
}	
.inx_table .game_stop
{
	position: absolute;
	bottom: -10px;
}
/* section END */
/* index END */

@media screen and (max-width: 800px)
{
	/* header */
	header
	{
		height: 170px;
	}
	.frame-div img
	{
		max-height: 165px;
	}
	.frame-back
	{		
		max-height: 111px;
	}
	.frame-back-img img
	{
		width: 62px;
	}
	.frame-name-div
	{
		left: 159px;
	}
	.frame-div .frame-circle, .frame-div .frame-img
	{
		max-height: 125px;
		top: 13px;
		left: 23px;
	}
	.frame-name-div img
	{
		width: 227px;
		max-height: 34px;
	}
	.name
	{
		font-size: 28px;
		padding-bottom: 1px;
		min-height: 29px;
	}
	.point
	{
		font-size: 24px;
		top: 34px;
		width: 204px;
	}
	/* header END */
	/* index */
	.inx_table .game_stop
	{
		width: 100px;
	}
	/* index END */
}
@media screen and (max-width: 700px)
{
	/* header */
	header
	{
		height: 50px;
	}
	.frame-div img
	{
		max-height: 95px;
	}
	.frame-back
	{		
		max-height: 64px;
	}
	.frame-back-img
	{
		right: 19px;
	}
	.frame-back-img img
	{
		width: 29px;
	}
	.frame-name-div
	{
		left: 89px;
	}
	.frame-div .frame-circle, .frame-div .frame-img
	{
		max-height: 69px;
		top: 9px;
		left: 15px;
	}
	.frame-name-div img
	{
		width: 137px;
		max-height: 19px;
	}
	.frame-name-div
	{
		top: 9px;
	}
	.name
	{
		font-size: 18px;
		padding-bottom: 0;
		-webkit-text-stroke: .5px #696c8c;
		min-height: 18px;
	}
	.point
	{
		font-size: 16px;
		top: 19px;
		right: 6px;
		width: 125px;
		-webkit-text-stroke: .5px #d07f00;
	}
	/* header END */
	/* index */
	.inx_sec
	{
		padding: 0 100px;
	}
	.inx_table .game
	{
		width: 100px;
	}
	.inx_table .game_stop
	{
		width: 65px;
	}
	/* index END */
}