#Blackbg
{
	display: block;
	background: rgb(0,0,0);
	position: absolute;
	width:100%;
	height:100%;
	z-index: 999999;
	text-align:center;
}
.fullscreenImg
{
	display: none;
	z-index: 9999;
	margin: auto;
}
.TurnImg
{
	background-image: url("../img/fullscreen/img_turn1.gif");
	background-repeat: no-repeat;
	background-position: center;
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
}